.page-section {
	padding: 1em 0 3em;
	display: flex;
	justify-content: center;
}

.page-header {
	text-align: center;
}

.page-header h1 {
	font-size: 2.5rem;
	font-weight: bold;
}

@media (max-width: 768px) {
	.page-section {
		padding: 1em 1em 3em;
	}

	.page-header h1 {
		font-size: 2rem;
		font-weight: 600;
	}
}
