.dashboard-layout {
	display: flex;
}

/* Main content */
.content {
	margin-left: 220px;
	width: 100%;
}

@media (max-width: 768px) {
	.dashboard-layout {
		flex-direction: column;
	}

	.content {
		margin-left: 0;
		padding-bottom: 80px;
	}
}
