.section {
	display: flex;
	flex-direction: row;
	align-items: stretch; /* растягиваем картинку на всю высоту текста */
	justify-content: space-between;
	gap: 40px;
	margin: 0 auto;
	padding: 0 40px 60px;
}
.section-reverse {
	flex-direction: row-reverse;
}

.section-content,
.section-content-reverse {
	max-width: 800px;
}
.section-content-reverse {
	max-width: 600px;
	/* display: flex;
	flex-direction: column;
	align-items: flex-end;
	text-align: right; */
}

.section-subtitle {
	font-size: clamp(20px, 5vw, 32px);
	font-weight: 500;
	opacity: 0.8;
	margin-bottom: 10px;
}

.section-title {
	font-size: clamp(68px, 10vw, 130px);
	font-weight: 700;
	line-height: 1.1;
	margin: 0;
	background: linear-gradient(90deg, #ffffff, #b8b8b8);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transition:
		color 0.3s,
		transform 0.3s;
}
.section-title:hover,
.section-title:focus {
	transform: translateY(-3px);
	-webkit-text-fill-color: #ffdd57;
	background: none;
}

.section-title:focus {
	outline: none;
}

.section-desc {
	margin-top: 30px;
	font-size: clamp(16px, 3.5vw, 22px);
	line-height: 1.5em;
	opacity: 0.9;
	max-width: 500px;
}

.section-btn {
	margin-top: 40px;
	padding: 16px 32px;
	font-size: clamp(14px, 1.5vw, 20px);
	font-weight: 600;
	border-radius: 8px;
	border: none;
	background: #ffffff20;
	backdrop-filter: blur(6px);
	color: white;
	cursor: pointer;
	transition: 0.3s;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;
}
.section-btn:hover {
	background: #ffffff40;
	transform: translateY(-3px);
	color: #ffdd57;
}

.section-image-wrapper {
	flex: 1;
	display: flex;
	justify-content: flex-end;
}

.section-image {
	width: 100%;
	min-height: 100%;
	object-fit: cover;
	border-radius: 20px;
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
	transition: transform 0.3s;
}
.section-image:hover {
	transform: translateY(-3px);
}

@media (max-width: 768px) {
	.section {
		flex-direction: column;
		align-items: flex-start;
		padding: 0 20px 30px;
	}
	.section-btn {
		margin-top: 20px;
		padding: 12px 26px;
	}
	.section-image-wrapper {
		justify-content: flex-start;
		width: 100%;
	}
}
