.container {
	padding: 0;
	background-color: greenyellow;
}

.notFoundPage__title {
	flex: 1;
}

.notFoundPage__link {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
.notFoundPage__link:hover {
	color: #535bf2;
}
