.header__container {
	position: fixed;
	inset: 0 0 auto auto; /* top:0; left:0; */
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 40px;
	background: linear-gradient(135deg, #2c2c2c, #7a7eff);
	color: #fff;
	box-sizing: border-box;
	z-index: 1000;
}
